---

version: 2.1

parameters:
  # GHA Params are set when the orb is called from a GitHub Action
  # see: https://circleci.com/blog/trigger-circleci-pipeline-github-action/
  GHA_Event:
    type: string
    default: ""
  GHA_Actor:
    type: string
    default: ""
  GHA_Action:
    type: string
    default: ""
  GHA_Meta:
    type: string
    default: ""

orbs:
  publish-docs: infinitered/publish-docs@dev:jq3

# Docker defaults
defaults: &defaults
  docker:
    - image: cimg/node:18.16.1
  working_directory: /mnt/ramdisk/repo

# Jobs
jobs:
  test_and_build:
    <<: *defaults
    steps:
      - checkout
      # Restore Yarn cache (Yarn 3 uses .yarn/cache directory)
      - restore_cache:
          name: Restore Yarn Cache
          keys:
            - yarn-cache-{{ checksum "yarn.lock" }}
      - run:
          name: Use local Yarn version
          command: echo "export PATH=$(pwd)/.yarn/releases:$PATH" >> $BASH_ENV
      - run:
          name: Install Dependencies
          command: yarn install --immutable
      # Save Yarn cache
      - save_cache:
          name: Save Yarn Cache
          key: yarn-cache-{{ checksum "yarn.lock" }}
          paths:
            - .yarn/cache
      - run:
          name: Lint code
          command: yarn lint
      - run:
          name: Build modules and packages
          command: yarn ci:build
      - run:
          name: Run tests
          command: yarn test

# Workflows
workflows:
  version: 2
  build-and-test:
    jobs:
      - test_and_build
      - publish-docs/build_docs:
          project_name: 'react-native-mlkit'
          source_docs_dir: packages/docusaurus/docs/docs
          label: "React Native MLKit"
          description: "Use MLKit Models in React Native apps"
          target_repo: "git@github.com:infinitered/ir-docs.git"
          git_username: "Infinite Red CI"
          git_email: "ci@infinite.red"
  # publishes docs to the IR-Docs repo
  #  - Triggered from a GitHub Action, because the changeset release action is
  #    not available in CircleCI yet.
  #  - See:
  release-docs:
    when:
      equal: ["release", << pipeline.parameters.GHA_Event >>]
    jobs:
      - publish-docs/publish_docs:
          project_name: 'react-native-mlkit'
          source_docs_dir: packages/docusaurus/docs/docs
          label: "React Native MLKit"
          description: "Use MLKit Models in React Native apps"
          target_repo: "git@github.com:infinitered/ir-docs.git"
          git_username: "Infinite Red CI"
          git_email: "ci@infinite.red"
