/*Any CSS included here will be global. The classic template*/
/*bundles Infima by default. Infima is a CSS framework designed to*/
/*work well for content-centric websites.*/


:root {
    /*BRAND*/
    --ir-brand-rgb: 231, 53, 54;
    --ir-brand-100: #FFDBD3;
    --ir-brand-200: #FFB9AA;
    --ir-brand-300: #FC948E;
    --ir-brand-400: #FE6060;
    --ir-brand-500: #E73536;
    --ir-brand-600: #D13939;
    --ir-brand-700: #B22525;
    --ir-brand-800: #971111;

    /*ERROR*/
    --ir-danger-rgb: 159, 57, 57;
    --ir-danger-100: #F2D3D3;
    --ir-danger-200: #EAAEAE;
    --ir-danger-300: #D08989;
    --ir-danger-400: #B55757;
    --ir-danger-500: #9F3939;
    --ir-danger-600: #6F2828;
    --ir-danger-700: #5F2222;
    --ir-danger-800: #571F1F;

    /*INFO*/
    --ir-info-rgb: 115, 184, 215;
    --ir-info-100: #DCEDF5;
    --ir-info-200: #C0DFED;
    --ir-info-300: #B2D8E9;
    --ir-info-400: #96CAE1;
    --ir-info-500: #73B8D7;
    --ir-info-600: #65A2BD;
    --ir-info-700: #568AA1;
    --ir-info-800: #456E81;

    /*NEUTRAL*/
    --ir-neutral-rgb: 20, 20, 21;
    --ir-neutral-000: #FFFFFF;
    --ir-neutral-100: #F8F7F7;
    --ir-neutral-200: #E0E0E1;
    --ir-neutral-300: #83838A;
    --ir-neutral-400: #5D5D60;
    --ir-neutral-500: #3B3B3E;
    --ir-neutral-600: #333337;
    --ir-neutral-700: #272728;
    --ir-neutral-800: #141415;
    --ir-neutral-900: #0C0C0D;

    /*SECONDARY*/
    --ir-secondary-rgb: 76, 62, 84;
    --ir-secondary-100: #DBD8DD;
    --ir-secondary-200: #B7B2BB;
    --ir-secondary-300: #827887;
    --ir-secondary-400: #695D6F;
    --ir-secondary-500: #4C3E54;
    --ir-secondary-600: #3D3044;
    --ir-secondary-700: #322838;
    --ir-secondary-800: #211925;

    /*SUCCESS*/
    --ir-success-rgb: 150, 133, 183;
    --ir-success-100: #E5E1ED;
    --ir-success-200: #D5CEE2;
    --ir-success-300: #CBC2DB;
    --ir-success-400: #B6AACD;
    --ir-success-500: #9685B7;
    --ir-success-600: #786A92;
    --ir-success-700: #695D80;
    --ir-success-800: #4B435C;

    /*WARNING*/
    --ir-warning-rgb: 243, 182, 103;
    --ir-warning-100: #FCEDD9;
    --ir-warning-200: #FAE2C2;
    --ir-warning-300: #F9DBB3;
    --ir-warning-400: #F7CC95;
    --ir-warning-500: #F3B667;
    --ir-warning-600: #E0A75F;
    --ir-warning-700: #C3893B;
    --ir-warning-800: #9D6317;

    --ir-background-primary: #ffffff;
    --ir-background-bold: #272728;
    --ir-background-dim: #f8f7f7;


    /* INFIMA THEME VARS*/

    --ifm-background-color: #ffffff;
    --ifm-surface-background-color: #f8f7f7;
    --ifm-card-background-color: #ffffff;

    --ifm-color-primary: var(--ir-brand-500);
    --ifm-color-primary-dark: var(--ir-brand-600);
    --ifm-color-primary-darker: var(--ir-brand-700);
    --ifm-color-primary-darkest: var(--ir-brand-800);
    --ifm-color-primary-light: var(--ir-brand-400);
    --ifm-color-primary-lighter: var(--ir-brand-300);
    --ifm-color-primary-lightest: var(--ir-brand-100);
    --ifm-color-primary-contrast-background: var(--ir-brand-100);
    --ifm-color-primary-contrast-foreground: var(--ir-brand-800);
    --ifm-color-primary-highlight: rgba(var(--ir-brand-rgb), 0.15);


    --ifm-color-secondary: var(--ir-neutral-400);
    --ifm-color-secondary-dark: var(--ir-neutral-500);
    --ifm-color-secondary-darker: var(--ir-neutral-700);
    --ifm-color-secondary-darkest: var(--ir-neutral-800);
    --ifm-color-secondary-light: var(--ir-neutral-300);
    --ifm-color-secondary-lighter: var(--ir-neutral-200);
    --ifm-color-secondary-lightest: var(--ir-neutral-100);
    --ifm-color-secondary-contrast-background: var(--ir-neutral-100);
    --ifm-color-secondary-contrast-foreground: var(--ir-neutral-800);
    --ifm-color-secondary-highlight: rgba(var(--ir-neutral-rgb), 0.15);

    --ifm-color-success: var(--ir-success-500);
    --ifm-color-success-dark: var(--ir-success-600);
    --ifm-color-success-darker: var(--ir-success-700);
    --ifm-color-success-darkest: var(--ir-success-800);
    --ifm-color-success-light: var(--ir-success-400);
    --ifm-color-success-lighter: var(--ir-success-300);
    --ifm-color-success-lightest: var(--ir-success-100);
    --ifm-color-success-contrast-background: var(--ir-success-100);
    --ifm-color-success-contrast-foreground: var(--ir-success-800);
    --ifm-color-success-highlight: rgba(var(--ir-success-rgb), 0.15);

    --ifm-color-info: var(--ir-info-500);
    --ifm-color-info-dark: var(--ir-info-600);
    --ifm-color-info-darker: var(--ir-info-700);
    --ifm-color-info-darkest: var(--ir-info-800);
    --ifm-color-info-light: var(--ir-info-400);
    --ifm-color-info-lighter: var(--ir-info-300);
    --ifm-color-info-lightest: var(--ir-info-100);
    --ifm-color-info-contrast-background: var(--ir-info-100);
    --ifm-color-info-contrast-foreground: var(--ir-info-800);
    --ifm-color-info-highlight: rgba(var(--ir-info-rgb), 0.15);

    --ifm-color-warning: var(--ir-warning-500);
    --ifm-color-warning-dark: var(--ir-warning-600);
    --ifm-color-warning-darker: var(--ir-warning-700);
    --ifm-color-warning-darkest: var(--ir-warning-800);
    --ifm-color-warning-light: var(--ir-warning-400);
    --ifm-color-warning-lighter: var(--ir-warning-300);
    --ifm-color-warning-lightest: var(--ir-warning-100);
    --ifm-color-warning-contrast-background: var(--ir-warning-100);
    --ifm-color-warning-contrast-foreground: var(--ir-warning-800);
    --ifm-color-warning-highlight: rgba(var(--ir-warning-rgb), 0.15);

    --ifm-color-danger: var(--ir-danger-500);
    --ifm-color-danger-dark: var(--ir-danger-600);
    --ifm-color-danger-darker: var(--ir-danger-700);
    --ifm-color-danger-darkest: var(--ir-danger-800);
    --ifm-color-danger-light: var(--ir-danger-400);
    --ifm-color-danger-lighter: var(--ir-danger-300);
    --ifm-color-danger-lightest: var(--ir-danger-100);
    --ifm-color-danger-contrast-background: var(--ir-danger-100);
    --ifm-color-danger-contrast-foreground: var(--ir-danger-800);
    --ifm-color-danger-highlight: rgba(var(--ir-danger-rgb), 0.15);

    --ifm-color-white: #fff;
    --ifm-color-black: #000;
    --ifm-color-gray-0: var(--ifm-color-white);
    --ifm-color-gray-100: var(--ir-neutral-100);
    --ifm-color-gray-200: var(--ir-neutral-200);
    --ifm-color-gray-300: var(--ir-neutral-300);
    --ifm-color-gray-400: var(--ir-neutral-400);
    --ifm-color-gray-500: var(--ir-neutral-500);
    --ifm-color-gray-600: var(--ir-neutral-600);
    --ifm-color-gray-700: var(--ir-neutral-700);
    --ifm-color-gray-800: var(--ir-neutral-800);
    --ifm-color-gray-900: var(--ir-neutral-900);
    --ifm-color-gray-1000: var(--ifm-color-black);

    --ifm-color-emphasis-0: var(--ifm-color-gray-0);
    --ifm-color-emphasis-100: var(--ifm-color-gray-100);
    --ifm-color-emphasis-200: var(--ifm-color-gray-200);
    --ifm-color-emphasis-300: var(--ifm-color-gray-300);
    --ifm-color-emphasis-400: var(--ifm-color-gray-400);
    --ifm-color-emphasis-500: var(--ifm-color-gray-500);
    --ifm-color-emphasis-600: var(--ifm-color-gray-600);
    --ifm-color-emphasis-700: var(--ifm-color-gray-700);
    --ifm-color-emphasis-800: var(--ifm-color-gray-800);
    --ifm-color-emphasis-900: var(--ifm-color-gray-900);
    --ifm-color-emphasis-1000: var(--ifm-color-gray-1000);
}

html[data-theme='dark'] {
    --ifm-card-background-color: var(--ifm-color-emphasis-500);
}

[data-theme='dark'] :root {
    --ifm-color-primary-contrast-background: var(--ir-brand-800);
    --ifm-color-primary-contrast-foreground: var(--ir-brand-100);
    --ifm-color-secondary-contrast-background: var(--ifm-color-secondary-dark);
    --ifm-color-secondary-contrast-foreground: var(--ifm-color-white);
    --ifm-color-info-contrast-background: var(--ifm-color-info-darkest);
    --ifm-color-info-contrast-foreground: var(--ifm-color-white);
    --ifm-color-warning-contrast-background: var(--ifm-color-warning-darkest);
    --ifm-color-warning-contrast-foreground: var(--ifm-color-white);
    --ifm-color-danger-contrast-background: var(--ifm-color-danger-darkest);
    --ifm-color-danger-contrast-foreground: var(--ifm-color-white);
    --ifm-color-success-contrast-background: var(--ifm-color-success-dark);
    --ifm-color-success-contrast-foreground: var(--ifm-color-white);
    --ifm-card-background-color: var(--ifm-color-emphasis-500);
}




[data-theme='dark'] .button.button--primary {
    color: var(--ifm-color-white);
}

[data-theme='dark'] .button.button--success {
    color: var(--ifm-color-white);
}

.button.button--warning {
    background-color: var(--ifm-color-warning);
    border-color: var(--ifm-color-warning);
    color: var(--ifm-color-white);
}

[data-theme='dark'] .button.button--warning {
    background-color: var(--ifm-color-warning);
    border-color: var(--ifm-color-warning);
    color: var(--ifm-color-white);
}
.alt-divider {
 width:2px;
    background-color: var(--ifm-alert-background-color-highlight);
    border: 1px solid var(--ifm-card-background-color);
    margin: 0 2rem;


}
.button.button--warning.warning-alt {
    background-color: var(--ifm-color-warning-darker);
    border-color: var(--ifm-color-warning-darker);
    color: var(--ifm-color-white);
}

[data-theme='dark'] .button.button--warning.warning-alt {
    background-color: var(--ifm-color-warning-darker);
    border-color: var(--ifm-color-warning-darker);
    color: var(--ifm-color-white);
}

.button.button--warning.warning-alt-2 {
    background-color: var(--ifm-color-warning-darkest);
    border-color: var(--ifm-color-warning-darkest);
    color: var(--ifm-color-white);
}

[data-theme='dark'] .button.button--warning.warning-alt-2 {
    background-color: var(--ifm-color-warning-darkest);
    border-color: var(--ifm-color-warning-darkest);
    color: var(--ifm-color-white);
}

[data-theme='dark'] .button.button--danger {
    color: var(--ifm-color-white);
}

[data-theme='dark'] .pagination-nav__link {
    background-color: var(--ifm-color-emphasis-100);
}

.button.button--secondary {
    color: var(--ifm-color-white);
}


.alert {
    --ifm-alert-background-color-highlight: var(rgba(0, 0, 0, 0.15));
    --ifm-alert-background-color: var(--ir-secondary-200);
    --ifm-alert-border-color: var(--ir-secondary-600);
    --ifm-alert-foreground-color: var(--ifm-color-white);
}

 .alert.alert--success {
    --ifm-alert-background-color-highlight: var(--ifm-color-success-highlight);
    --ifm-alert-background-color: var(--ir-success-100);
    --ifm-alert-border-color: var(--ir-success-500);
     --ifm-alert-foreground-color: var(--ir-success-800);
}

.alert--warning {
    --ifm-alert-background-color-highlight: var(--ifm-color-warning-highlight);
    --ifm-alert-background-color: var(--ir-warning-100);
    --ifm-alert-border-color: var(--ir-warning-500);
    --ifm-alert-foreground-color: var(--ir-warning-800);
}

.alert--danger {
    --ifm-alert-background-color-highlight: var(--ifm-color-danger-highlight);
    --ifm-alert-background-color: var(--ir-danger-100);
    --ifm-alert-border-color: var(--ir-danger-400);
    --ifm-alert-foreground-color: var(--ir-danger-800);
}

.alert--info {
    --ifm-alert-background-color-highlight: var(--ifm-color-info-highlight);
    --ifm-alert-background-color: var(--ir-info-100);
    --ifm-alert-border-color: var(--ir-info-400);
    --ifm-alert-foreground-color: var(--ir-info-800);
}

.alert--secondary {
    --ifm-alert-background-color-highlight: var(--ifm-color-secondary-highlight);
    --ifm-alert-background-color: var(--ir-secondary-100);
    --ifm-alert-border-color: var(--ir-secondary-400);
    --ifm-alert-foreground-color: var(--ifm-color-secondary-contrast-foreground);
}


[data-theme="dark"] .alert {
    --ifm-alert-background-color-highlight: var(rgba(255,255,255,0.15));
    --ifm-alert-background-color: var(--ir-neutral-700);
    --ifm-alert-border-color: var(--ir-neutral-400);
    --ifm-alert-foreground-color: var(--ifm-color-white);
}


[data-theme="dark"] .alert.alert--success {
    --ifm-alert-background-color-highlight:  var(--ifm-color-success-highlight);
    --ifm-alert-background-color: var(--ir-success-700);
    --ifm-alert-border-color: var(--ir-success-400);
    --ifm-alert-foreground-color: var(--ifm-color-white);
}

[data-theme="dark"] .alert--warning {
    --ifm-alert-background-color-highlight: var(--ifm-color-warning-highlight);
    --ifm-alert-background-color: var(--ir-warning-700);
    --ifm-alert-border-color: var(--ir-warning-400);
    --ifm-alert-foreground-color: var(--ifm-color-white);
}

[data-theme="dark"] .alert--danger {
    --ifm-alert-background-color-highlight: var(--ifm-color-danger-highlight);
    --ifm-alert-background-color: var(--ir-danger-700);
    --ifm-alert-border-color: var(--ir-danger-400);
    --ifm-alert-foreground-color: var(--ifm-color-white);
}

[data-theme="dark"] .alert--info {
    --ifm-alert-background-color-highlight: var(--ifm-color-info-highlight);
    --ifm-alert-background-color: var(--ir-info-800);
    --ifm-alert-border-color: var(--ir-info-400);
    --ifm-alert-foreground-color: var(--ifm-color-white);
}

[data-theme="dark"] .alert--secondary {
    --ifm-alert-background-color-highlight: var(--ifm-color-secondary-highlight);
    --ifm-alert-background-color: var(--ir-secondary-700);
    --ifm-alert-border-color: var(--ir-secondary-400);
}

.testing-buttons a {
    margin: 0.5rem 0.5rem;
}

.navbar__link--active {
    color: var(--ifm-color-primary);
}

